@import "node_modules/ol/ol.css";
@import "node_modules/ol-ext/dist/ol-ext.css";


html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-button {
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.ol-button:hover {
  background-color: #005a9e;
}

.custom-controls {
  position: absolute;
  top: 50px;
  left: 5px;
  z-index: 1000;
}