@import "node_modules/ol/ol.css";
@import "node_modules/ol-ext/dist/ol-ext.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#map {
  width: 100vw;
  height: 100vh;
}

.ol-popup {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  padding-top: 25px;
  position: absolute;
  border-radius: 5px;
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  border: 1px solid #cccccc;
  left: 20px;  
  top: -20px; 
  min-width: 280px;
 }
 #popup-content {
  user-select: text;
}
.ol-popup:after, .ol-popup:before{
top: 10px;  
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.ol-popup:after{
  border-top-color: white;
  border-width: 10px;
  left: -10px;
  margin-left: -10px;
  transform: rotate(90deg); /* Drehung um 90 Grad */
}
.ol-popup:before{
  border-top-color: #4400ff;
  border-width: 11px;
  left: -10px;
  margin-left: -11px;
  transform: rotate(90deg); /* Drehung um 90 Grad */
}
.ol-popup-closer{
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;

}
.ol-popup-closer:after{
  content: "X";
  font-weight: bold; /* Fett formatieren */
}
.popup-text {
  margin-right: 10px; /* Ändere den Abstand zum "X" nach Bedarf */
}
.locate {
  top: 125px;
  left: 8px;
}
.locate.active {
  background-color: #4CAF50; /* Grüne Hintergrundfarbe im aktiven Zustand */
}
.locate.active button {
  color: white; /* Weiße Schriftfarbe im aktiven Zustand */
}

.tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
  display: none;
}

.ol-button:hover {
  background-color: #005a9e;
}

.ol-button {
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-controls1 {
  position: absolute;
  top: 175px;
  left: 8px;
  z-index: 1001;
}

.custom-controls2 {
  position: absolute;
  top: 250px;
  left: 8px;
  z-index: 1002;
}

/* Stil für den Container der Infodiv */
.info-container {
  border: 1px solid black;
  background: white;
  opacity: 1;
  overflow-x: auto;
  position: absolute;
  bottom: 150px;
  width: 100%;
  left: 0px;
  z-index: 1003;
}

/* Stil für das Schließen-Symbol */
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
}


