@import "node_modules/ol/ol.css";
@import "node_modules/ol-ext/dist/ol-ext.css";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


#info {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white; /* Ändere die Hintergrundfarbe auf weiß */
  /* opacity: 1; */ /* Entferne oder setze die Opazität auf 1 */
  z-index: 1000;
  /* Weitere CSS-Stile nach Bedarf hinzufügen */
}
